{% extends "base.html" %}

{% block content %}

<div class="home-content">
    {% if user.is_authenticated %}
    Hi {{ user.username }}!

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="centered-button">Logout</button>
    </form>

    {% else %}
    <!-- <a href="{% url 'login' %}">Log In</a> -->
    <h2>Please login to continue</h2>
    <form method="post" class="form-container">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="centered-button">Login</button>
    </form>
    {% endif %}
</div>

{% endblock %}