{% extends "base.html" %}

<!-- {% load static %} -->

{% block content %}

<div class="home-content">

    <h2><i class="fa-regular fa-face-smile"></i>
        {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <br>{{ welcome }}

    </h2>
    <ul>
        {% for track in lastfm|slice:"5:15" %}
        <li><strong>{{ track.name|slice:":30" }}</strong> by {{ track.artist }} (Playcount: {{ track.playcount }})</li>
        {% endfor %}
    </ul>



    {% else %}

    {{ welcome }}

    <h1>Please login to continue</h1>
    <a href="{% url 'login' %}" class="button" style="color: #004897;">Log In</a>
    {% endif %}





</div>

{% endblock %}