{% extends "base.html" %}

<!-- {% load static %} -->

{% block content %}

<div class="home-content">
    {% if user.is_authenticated %}
    <h2><i class="fa-regular fa-face-smile"></i> Hi {{ user.username }}!
        <br>{{ name }}
    </h2>

    <!-- <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="centered-button">Logout</button>
    </form> -->

    {% else %}
    <h1>Please login to continue</h1>
    <a href="{% url 'login' %}">Log In</a>

    {% endif %}

    <h3>Top 5 Most Played:</h3>
    <ul>
        {% for track in lastfm|slice:":5" %}
        <li><strong>{{ track.name|slice:":30" }}</strong> by {{ track.artist }} (Playcount: {{ track.playcount }})</li>
        {% endfor %}
    </ul>


</div>

{% endblock %}